# Telegram Bot
TELEGRAM_BOT_TOKEN=8817963187:AAHVHm87XwUkBHzs5FXwthgX9uGnFM6q3K0
TELEGRAM_CHAT_ID=1059306512

# E-posta (opsiyonel)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_TO=
